<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SOURCE_FILES_PATH" value="C:\Users\Sagar\Desktop\SP_COMPARE_KRISTA\LOCAL"/>
    <add key="DESTINATION_FILES_PATH" value="C:\Users\Sagar\Desktop\SP_COMPARE_KRISTA\PROD"/>
    <add key="EXTRACTED_FILES" value="C:\Users\Sagar\Desktop\SP_COMPARE_KRISTA\OUTPUT"/>
  </appSettings>
</configuration>